a.c-message__sender_link {
    font-weight: normal;
    font-size: 9pt;
    color: #BEBEBE !important;
}

.c-timestamp__label {
    font-size: 9pt;
    color: #BEBEBE;
}

.c-message__content_header {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #f0f0f0 !important;
}


.c-message--light .c-message__content_header {
    margin-top: 4px !important;
    padding-top: 5px !important;
}

.c-virtual_list__item :nth-child(even) {
    background: #FAEBD7 !important!;
}

.c-virtual_list__item :hover {
    background: #FFF0F5 !important!;
}


/*Gap test*/

.c-message__gutter {
    padding-top: 5px !important;
}

/*
.c-message.c-message--light {
    margin-bottom: 6px !important;
}

.c-virtual_list__item, .c-virtual_list__sticky_container {
    position: initial !important;
}

.c-message__gutter {
    padding-top: 5px !important;
}
*/

